{% extends 'base.html.twig' %}

{% block title %}Меню{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Наше меню</h1>
        <div class="row">
            {% for pizza in pizzas %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ 'images/menu/pizzas/' ~ pizza.image }}" class="card-img-top" alt="{{ pizza.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.name }}</h5>
                            <p class="card-text">{{ pizza.description }}</p>
                            <p class="card-text">Цена: {{ pizza.price }}</p>
                            <a href="#" class="btn btn-primary">Заказать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
